*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    width: 100vw;
    padding: 20px 20px;
    background-color: black;
    overflow-x: hidden;
}

.container{
    >*{
        margin: 5px 5px;
    }
}

.remove{
    border: none;
    width: 150px;
    height: 30px;
    color: purple;
}

.rest{
    display: flex;
}

.all{
    margin: 10px 10px;
    width: 40%;

    .top{
        height: 50px;
        background-color: grey;
        font-size: 40px;
        font-style: oblique;
        border-radius: 5px;
        margin: 0 10px 0 10px;

    }
}

.blank{
    width: 20%;
    
}

.totalgroup{
    width: 40%;
    color: antiquewhite;
    height: 300px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
    border: 2px solid purple;

    >*{
        display: flex;
        margin: 15px 0px 15px 0px;
    }


    .returns{
        
        display: flex;
        flex-direction: column;
    }

    .checkout{
        background-color: grey;
        width: 100%;
        height: 30px;
        border-radius: 5px;
    }

    .clear{
        background-color: grey;
        width: 40%;
        height: 30px;
        border-radius: 5px;
    }
}

.image{
    width: 200px;
    height: 200px;
}

.carrier{
    color: antiquewhite;
    margin: 10px 10px;
    border: 2px solid purple;

    >*{
        margin: 5px;
    }
}

.back{
    background-color: grey;
    border: 1px solid purple;
    border-radius: 3px;
    height: 20px;
    >*{text-decoration: none;
        color: black;}
    
}

.backbutton{
    display: flex;
    justify-content: flex-end;
}